<h1>Post Request</h1>
{{#if bodyList.length}}
	<h3>Contents</h3>
	<table border="1px">
		<tr>
			<th>Name</th>
			<th>Value</th>
		</tr>
		{{#each bodyList}}
		<tr>
			<td>{{this.name}}</td>
			<td>{{this.value}}</td>
		</tr>
		{{/each}}
	</table>
{{/if}}